# Aliases
alias lazyvimpath="cd ~/.local/share/nvim/lazy/LazyVim" 
alias lgit="lazygit"
alias lsa="ls -all"

# Maven
alias mvnc="mvn clean install"
alias mvnit="mvn clean install -Dintegration-test=true"
alias mvnp="mvn clean install -Dpackaging=true"
alias mvnitp="mvn clean install -Dpackaging=true -Dintegration-test=true"
alias mvnd="mvn clean install -DskipTests && ./deploy.sh"
alias mvnf='mvn install -DskipTests -pl \!$(find *schemas -maxdepth 0)'

# Java#
alias java11='sdk use java "$(sdk list java | grep "installed\|local only" | grep "11" | awk "{print \$NF; exit}")"'
alias java17='sdk use java "$(sdk list java | grep "installed\|local only" | grep "17" | awk "{print \$NF; exit}")"'
alias java21='sdk use java "$(sdk list java | grep "installed\|local only" | grep "21" | awk "{print \$NF; exit}")"'
alias javas='sdk list java | grep "installed\|local only"'

# Docker
alias docker-compose-dev='docker compose -f ~/workspace/ace-docker-compose-dev/docker-compose.yml'
alias dcd='docker-compose-dev'
alias dcdup='docker compose -f ~/workspace/ace-docker-compose-dev/docker-compose.yml up -d'
alias dcddo='docker compose -f ~/workspace/ace-docker-compose-dev/docker-compose.yml down -d'

