# Exports

export WORKSPACE="/Users/christian/workspace"

#SPK
export SPK_ROOT="/Users/christian/spk"
export SPK_CONFIG_ROOT="/Users/christian/spk/spkconfig"
export SPK_DATA="/Users/christian/spk/spkdata/"
export SPK_LOG="/Users/christian/spk/spklog/"

#Java

#Go
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin

# Logstash
export LOGSTASH_DESTINATION=alt-aot-g-fou01.fe.cosng.net:4560
