# Exports

export WORKSPACE="/Users/christian/workspace"

#SPK
export SPK_DATA="/Users/christian/spkdata/"
export SPK_LOG="/Users/christian/spklog/"

 #Java

# Logstash
export LOGSTASH_DESTINATION=alt-aot-g-fou01.fe.cosng.net:4560
