sdk-list() {
  if [ "$1" = "java" ]; then
    sdk list "$1" | grep "installed" | awk '$NF ~ /^[0-9]/ {print $NF}'
  else
    sdk list "$1" | grep -E '^\s*[*>]' | awk '$NF ~ /^[0-9]/ {print $NF}'
  fi
}
